* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  opacity: 80%;
  transition: 0.5s;
}

.navbar a {
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar li a:hover {
  border-bottom: #ffff00 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400px
}

body {
  background: #212124;
  color: #FFFF00;
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  color: #FFFF00;
  font-size: 2rem;
  font-family: 'Rye';
}

a {
  text-decoration: none;
  color: #ffff00;
}

a:hover {
  text-decoration: none;
  color: #ffb300;
}

ul {
  list-style: none;
}

/* Homepage hero section with background image*/
.hero {
  background: url('img/300pxlogo.png') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.hero * {
  z-index: 10;
}